body {
  background-color: $content-background-color;
  color: $content-text-color;
  margin: 0;
}

a {
  color: $content-text-color;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

// Collapse _all_ tables. Yes, seriously.
table,
tbody,
tr,
td {
  clear: both;
  display: block;
  float: left;

}

tr {
  background-color: $forum-post-background-color;
  margin-bottom: 1em;
  padding: 1em;
  //width: 100%;
}
