// header
$menu-shadow-color:               rgba(0, 0, 0, .8);
$menu-item-background-color:      #333;
$menu-item-text-color:            #fff;
$menu-item-hover-backgound-color: #00f;

// content
$content-background-color:        #222;
$content-text-color:              #eee;
$content-fadeout-mask:            rgba(0, 0, 0, .7);

// forum
$forum-post-background-color:     #444;
$forum-post-text-color:           #eee;
