// header
$menu-shadow-color:               rgba(0, 0, 0, .5);
$menu-item-background-color:      #ddd;
$menu-item-text-color:            #000;
$menu-item-hover-backgound-color: #00f;

// content
$content-background-color:        #eee;
$content-text-color:              #222;
$content-fadeout-mask:            rgba(0, 0, 0, .5);

// forum
$forum-post-background-color:     #bbb;
$forum-post-text-color:           #111;
